name: CI - Java Maven Tests with SonarCloud
on:
  push:
    branches: [ main, master, develop , 'feature/**' ]
  pull_request:
    branches: [ main, master, develop ]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0  # Required for SonarCloud
      - name: Set up JDK 25
        uses: actions/setup-java@v4
        with:
          java-version: '25'
          distribution: 'temurin'
          cache: maven
      - name: Run tests and SonarCloud scan
        run: |
          ./mvnw -B clean verify sonar:sonar \
            -Dsonar.projectKey=jtristante_dca-api \
            -Dsonar.organization=jtristante \
            -Dsonar.host.url=https://sonarcloud.io \
            -Dsonar.token=${SONAR_TOKEN}
            -Dsonar.qualitygate.wait=true
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
